{% extends "layout/main.html" %}

{% block styles %}
<style>
img {
	width:612px;
}
</style>

{% endblock %}
{% block body %}
	<div class="row">
		<h2>Current Hash Tags</h2>
		{% for q in prompts %}

		<p><strong>Typewriter Prompt:</strong> {{ q.prompt }} </p>
		<p><strong>Guitar Prompt:</strong> {{ q.prompt2 }} </p>
		<p><strong>Still Cam Prompt:</strong> {{ q.prompt3 }} </p>
		<p><strong>Video Cam Prompt:</strong> {{ q.prompt4 }} </p>
		<p><strong>Typewriter:</strong> {{ q.typewriter }} </p>
		<p><strong>Guitar:</strong> {{ q.guitar }} </p>
		<p><strong>Still:</strong> {{ q.still }} </p>
		<p><strong>Video:</strong> {{ q.video }} </p>
		{% endfor %}		

		<p>
		<a href="/hashtags">Update</a>
	</p>
	<div class="row">
		
		<div class="span7">
			<h2>Tweets</h2>
			<hr>
			{% for tweet in tweets %}
				
				<p>{{tweet.text}}
					
				</p>
				<a href="/delete2/{{tweet.id}}" class="btn btn-small btn-danger">delete</a>
				<hr>
			{% endfor %}
		</div>
		<div class="span7">
			<h2>Images</h2>
			<hr>
			{% for img in images %}
				<a href="https://s3.amazonaws.com/dwd_uploads/myfolder/{{img.filename}}">
				<img src="https://s3.amazonaws.com/fakelove/{{img.filename}}" class="img-polaroid"></a>
				<br>
				<h3>{{img.filename}}</h3>
				<p>{{img.description}}
					<br>
					{{ img.postedby }} - {{ img.timestamp.strftime("%m/%d/%y")}}
				</p>
				<a href="/delete/{{img.id}}" class="btn btn-small btn-danger">delete</a>
				<hr>
			{% endfor %}
		</div>

	</div><!-- row -->

{% endblock %}

{% block scripts %}{% endblock %}